
body{
    /*Variables*/
    --color1:#161819;
    --color2:#1e2021;
    --color3:#fe8018;
    --color4:#67a235;
    --color5:#fb4834;
    --color6:#83a598;
    --color7:#c8869c;
    --color8:#d5c4a1;

    background-color: var(--color1);
    color: var(--color8);
    overflow: hidden;
    font-family: "Rubik", sans-serif;
}

img{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 3px solid var(--color8);
    border-radius: 5px;
}
.navbar{
    list-style-type: none;
    display: flex;
    background-color: var(--color1);
    justify-content: space-evenly;
    border: 5px solid var(--color2);
    border-radius: 5px;
    box-shadow: 0px 8px var(--color2);
    overflow:hidden;
    transition: .2s ease-out;
    margin-left: 5px;
    margin-right: 5px;
}

.navbar:hover{
    box-shadow: 0px 10px var(--color2);
    transform: translateY(-2px);
    transition: .2s ease-out;
}

.navbar li a{
    display: block;
    color: var(--color8);
    padding: 5px 2px;
    text-decoration: none;
    transition: color .2s ease-out;
}

#home:hover{
    color: var(--color3);
    transition: color .2s ease-out;
}
#news:hover{
    color: var(--color4);
    transition: color .2s ease-out;
}
#survival:hover{
    color: var(--color5);
    transition: color .2s ease-out;
}
#community:hover{
    color: var(--color6);
    transition: color .2s ease-out;
}
#about:hover{
    color: var(--color7);
    transition: color .2s ease-out;
}

.active{
    font-weight: bolder;
}

#postcard{
    border-width: 0px;
    border-radius: 10px;
    rotate: 1deg;
    width: 80%;
    box-shadow: 0px 1px 20px rgb(0, 0, 0);
    transition: .2s ease-out;

}
#postcard:hover{
    rotate: -0.5deg;
    box-shadow: 0px 1px 50px rgb(0, 0, 0);
    transform: scale(105%);
    transition: .2s ease-out;

}